*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(255, 204, 204, 0.2); 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px;
}
.container .card {
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                      5px 5px 5px rgba(0, 0, 0, 0.05), 
                      -5px -5px 5px rgba(255, 255, 255, 0.5);
                      border-radius: 15px;
                      margin: 30px;
}
.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 204, 204, 0.2); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.container .card:hover .box {
    transform: translateY(-50px);
    transition: 0.5s;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg,#b95ce4,#4f29cd);
}
.container .card .box .content {
    padding: 20px;
    text-align: center;
}
.container .card .box .content h1 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
}
.container .card:hover .box .content h1 {
    color: rgba(0, 0, 0, 0.05);
}
.container .card:hover .box .content h2 {
    color: white;
}
.container .card:hover .box .content h3 {
    color: white;
}
.container .card:hover .box .content li {
    color: white;
}
.container .card:hover .box .content h1 {
    margin-top: 10px;
    font-size: 1.1em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    color: white;
    
}
.container .card .box .content p {
    
    font-size: 1em;
    font-weight: 400;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card:hover .box .content p {
    color: white;
}
.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container .card:hover .box .content a {
    background: #ff568f;
    color: white;
}
.container .card .box .content p ol li {
    text-align: right;
}
@media screen and (max-width: 720px) {
    .container{
        width: 100%;
    }
}